@font-face {
  font-family: 'Cera Pro';
  src: url(./fonts/cera\ pro\ sv/Cera\ Pro\ Medium.otf);
}
@font-face {
  font-family: 'Spoof Trial Regular';
  src: url(./fonts/SpoofTrial/SpoofTrial-Regular.otf);
}
@font-face {
  font-family: 'Spoof Trial Bold';
  src: url(./fonts/SpoofTrial/SpoofTrial-Bold.otf);
}
@font-face {
  font-family: 'Faible Regular';
  src: url(./fonts/Faible/Faible-Regular.otf);
}
@font-face {
  font-family: 'Faible Bold';
  src: url(./fonts/Faible/Faible-Bold.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}